@media screen and (min-width: 1201px) and (max-width: 1280px) {
	.visible-desktop{
		display:block;
	}
	.visible-phone{
		display:none !important;
	}
}
@media screen and (min-width: 1171px) and (max-width: 1200px) {
	.visible-desktop{
		display:block;
	}
	.visible-phone{
		display:none !important;
	}
}
@media screen and (min-width: 1101px) and (max-width: 1170px) {
    
	.visible-desktop{
		display:block;
	}
	.visible-phone{
		display:none !important;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1100px) {
	.visible-desktop{
		display:block;
	}
	.visible-phone{
		display:none !important;
	}
}
@media screen and (min-width: 993px) and (max-width: 1024px) {
    
	.visible-desktop{
		display:block;
	}
	.visible-phone{
		display:none !important;
	}
}
@media screen and (min-width: 901px) and (max-width: 992px) {
    
	.visible-desktop{
		display:none;
	}
	.visible-phone{
		display:block !important;
	}
}
@media screen and (min-width: 801px) and (max-width: 900px) {
    
	.visible-desktop{
		display:none;
	}
	.visible-phone{
		display:none !important;
	}
}
@media screen and (min-width: 768px) and (max-width: 800px) {
    
	.visible-desktop{
		display:none;
	}
	.visible-phone{
		display:none !important;
	}
}
@media screen and (max-width: 767px) {
    
	.visible-desktop{
		display:none;
	}
	.visible-phone{
		display:none !important;
	}
}
@media screen and (min-width: 641px) and (max-width: 767px) {
    
	.visible-desktop{
		display:none;
	}
	.visible-phone{
		display:none !important;
	}
}
@media screen and (min-width: 569px) and (max-width: 640px) {
    
	.visible-desktop{
		display:none;
	}
	.visible-phone{
		display:block !important;
	}
}
@media screen and (min-width: 481px) and (max-width: 568px) {
    
	.visible-desktop{
		display:none;
	}
	.visible-phone{
		display:block !important;
	}
}
@media screen and (min-width: 415px) and (max-width: 480px) {
    
	.visible-desktop{
		display:none;
	}
	.visible-phone{
		display:block !important;
	}
}
@media screen and (min-width: 361px) and (max-width: 414px) {
    
	.visible-desktop{
		display:none;
	}
	.visible-phone{
		display:block !important;
	}
}
@media screen and (min-width: 321px) and (max-width: 360px) {
    
	.visible-desktop{
		display:none;
	}
	.visible-phone{
		display:block !important;
	}
}
@media screen and (max-width: 320px) {
    
	.visible-desktop{
		display:none;
	}
	.visible-phone{
		display:block !important;
	}
}